.main{
    margin-left: 200px;
}


main, img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;;
}
.above {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
h1{
    display: flex;
    font-size: 3em;
    margin: 0px;
    padding-bottom: 60px;
}
.card{
    width: 200px;
}
.below {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
p{
    display: block;
    text-align: center;
}
